<div nz-row>
    <div class="categories" nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
        <ul nz-menu>
          <li nz-menu-item *ngFor="let category of categories" (click)="getProducts(category.id)">{{category.name}}</li>
        </ul>
    </div>
    <div class="products" nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="16" nzXl="16">
      <nz-table #basicTable nzShowPagination nzShowSizeChanger [nzData]="products">
        <thead>
          <tr>
            <th>Brand Name</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.brandName }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.price }}</td>
            <td>
              <a (click)="deleteProduct(product)"><i class="delete-btn" nz-icon nzType="delete" nzTheme="outline" title="Delete Product"></i></a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
</div>