<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="categoryId" nzRequired>Category</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your category!">
            <nz-select formControlName="categoryId" class="phone-select">
                <nz-option *ngFor="let category of categories" nzLabel="{{category.name}}" nzValue="{{category.id}}">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="brandName" nzRequired nzTooltipTitle="Brand Name">
            <span>Brand Name</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your brand name!">
            <input nz-input id="brandName" formControlName="brandName" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="productName" nzRequired nzTooltipTitle="Product Name">
            <span>Product Name</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your product name!">
            <input nz-input id="productName" formControlName="productName" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="price" nzRequired nzTooltipTitle="Price">
            <span>Price</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your price!">
            <input nz-input id="price" formControlName="price" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Register</button>
        </nz-form-control>
    </nz-form-item>
</form>
