<div nz-row>
    <div class="create-category" nz-col nzXs="8" nzSm="8" nzMd="8" nzLg="8" nzXl="8">
      <p>Create category</p>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item *ngFor="let control of listOfControl; let i = index">
          <nz-form-label [nzXs]="24" [nzSm]="6" *ngIf="i === 0" [nzFor]="control.controlInstance">
            Category
          </nz-form-label>
          <nz-form-control
            [nzXs]="24"
            [nzSm]="18"
            [nzOffset]="i === 0 ? 0 : 6"
            nzErrorTip="Please input category's name or delete this field."
          >
            <input
              class="passenger-input"
              nz-input
              placeholder="placeholder"
              [attr.id]="control.id"
              [formControlName]="control.controlInstance"
            />
            <i nz-icon nzType="minus-circle-o" class="dynamic-delete-button" (click)="removeField(control, $event)"></i>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 18, offset: 6 }">
            <button nz-button nzType="dashed" class="add-button" (click)="addField($event)">
              <i nz-icon nzType="plus"></i>
              Add field
            </button>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 18, offset: 6 }">
            <button nz-button nzType="primary">Submit</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <div class="categories" nz-col nzXs="16" nzSm="16" nzMd="16" nzLg="16" nzXl="16">
      <nz-table #basicTable nzShowPagination nzShowSizeChanger [nzData]="categories">
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories">
            <td>{{ category.name }}</td>
            <td>
              <a (click)="deleteCategory(category)"><i class="delete-btn" nz-icon nzType="delete" nzTheme="outline" title="Delete Category"></i></a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
</div>